{% extends 'base.html.twig' %}
{% block title %}DashBoard{% endblock %}
{% block body %}

    <div class="dash">
        <div class="menuDash">
            <a class="btn btn-lg btn-dark" href="{{ path('app_admin_dashboard') }}">Dashboard</a>
            <a class="btn btn-lg btn-dark" href="{{ path('app_admin_dashboard_user') }}">Gérer user</a>
            <a href="{{ path('app_admin_dashboard_livre_add') }}" class="btn btn-lg btn-dark">Ajouter des livres</a>
            <a href="{{ path('app_admin_dashboard_stock_add') }}" class="btn btn-lg btn-dark">Ajouter de stock</a>
        </div>

        {% block dashboard %}
            <div class="insideDash rounded">
                <h4>Bienvenue sur votre tableau de bord {{ user.username }}</h4>
                <p>Nombre d'inscrit : {{ totalUser }}</p>
                <p>Nombre des livres: {{ totalLivre }}</p>
                <p>Nombre de stock: {{ totalStock }}</p>
            </div>
        {% endblock %}

    </div>


{% endblock %}