{% extends 'base.html.twig' %}

{% block title %}Liste Livre{% endblock %}

{% block body %}
    {{ form_start(afficherLivreForm) }}

    <div class="row">
        <div class="col-md-4">{{ form_row(afficherLivreForm.site) }}</div>
        <div class="col-md-4">{{ form_row(afficherLivreForm.filiere) }}</div>
        <div class="col-md-4">{{ form_row(afficherLivreForm.categorie) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row(afficherLivreForm.titreLivre) }}</div>
        <div class="col-md-6">{{ form_row(afficherLivreForm.Rechercher) }}</div>
    </div>
    {{ form_end(afficherLivreForm) }}

    <table class="table table-hover header-fixed">
        <thead>
        <tr>
            <th scope="col">Site</th>
            <th scope="col">Filiere</th>
            <th scope="col">Categorie</th>
            <th scope="col">Titre Livre</th>
            <th scope="col">Quantite Stock</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in listelivres%}
            <tr>
                <td>{{ stock.site.campus }}</td>
                <td>{{ stock.livre.filiere.nomFiliere }}</td>
                <td>{{ stock.livre.categorie.nomCategorie }}</td>
                <td>{{ stock.livre.titreLivre }}</td>
                <td>{{ stock.quantiteStock }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" style="color:#ff0000" >Il n'y a pas de livre dans la sélection.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}