{% extends 'base.html.twig' %}

{% block title %}Stock index{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4"div>
        <h1>Stock index</h1>

        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.siteId }}</td>
                <td>{{ stock.livreId }}</td>
                <td>{{ stock.quantiteStock }}</td>
                <td>{{ stock.dateModification ? stock.dateModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('stock_show', {'id': stock.id}) }}">show</a>
                    <a href="{{ path('stock_edit', {'id': stock.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}


    <a href="{{ path('stock_new') }}">Create new</a>
    </div>
{% endblock %}
